<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Evgeny Manzhosov, and I like computers!;)</p>
    <p class="lead-smaller"></p>On a serious note, I am interested in system security and
    reliability, privacy, and compilers. 
    <!-- At the beginning of my Ph.D., I worked
    on memory safety and pointer integrity solutions, afterward drifting towards
    the intersection of security and reliability of systems. My current work is
    focused on the intersection of security and reliability for general-purpose
    and specialized computing (e.g., ML, ML with Homomorphic Encryption).  -->
    
    </p>
  </div>
</section>
